
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: #00181B;
}

.header {
    /* position: absolute; */
    width: 100vw;
    /* height: 10vh; */
    /* left: 0px;
    top: 0px; */
    box-sizing: border-box;

    /* display: flex;
    justify-content: center;
    align-items: center; */

    background: #00181B;
    opacity: 0.9;

    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.header-inner {
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    padding-left: 185px;
    padding-right: 185px;
    padding-top: 42px;
    padding-bottom: 42px;
}

.header-left {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 56px;

    position: absolute;
    width: 383px;
    height: 18px;
    left: 329px;
    top: 53px;
}

.left {
    float: left;
    margin-left: 0.7vw;
    margin-right: 0.7vw;
}

.right {
    float: right;
}

.left-container {
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-container {
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-right {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 56px;

    position: absolute;
    width: 383px;
    height: 18px;
    left: 329px;
    top: 53px;
}

.header-left-element {
    width: 67px;
    height: 18px;

    /* H/14 regular */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    color: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;

    padding: auto;
}

.header-right-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 40px;
    gap: 8px;

    width: 115px;
    height: 40px;

    /* Primary/light/100 */

    background: #00D1C2;
    border-radius: 33px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.header-right-input {

    width: 280px;
    height: 40px;
    background: #192F32;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    border-radius: 53px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding-left: 20px;
    /* identical to box height */

    color: #FFFFFF;
}

.inline {
    display: inline-block;
}

.circle-right {
    position: absolute;
    width: 479px;
    height: 424px;
    left: 1076px;
    top: 325px;

    background: rgba(0, 209, 194, 0.57);
    filter: blur(252.5px);
}

.circle-left {
    position: absolute;
    width: 471px;
    height: 392px;
    left: 317.8px;
    top: 48px;
    
    background: rgba(0, 209, 194, 0.4);
    filter: blur(245px);
    transform: rotate(12.94deg);
}

.content {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    box-sizing: border-box;

}

.title {
    display: none;
    position: relative;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 102.5%;
    /* or 102px */

    background: linear-gradient(130.84deg, #FFFFFF 13.62%, rgba(255, 255, 255, 0.67) 106.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    text-align: center;
    margin: auto;
    transition: 2.5s;
    top: 20px;
    opacity: 0;
}

.top-table {
    display: none;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(13.5px);
    border-radius: 16px;
    margin: auto;
    position: relative;
    width: 70vw;
    /* height: 33vh; */
    /* left: 50%;
    top: 28%;
    transform: translate(-50%, 0px); */
    text-align: center;
    margin: auto;
    margin-top: -2vh;
    /* z-index: 1000; */
    transition: 2.5s;
    height: 0vh;
    top: 33vh;
}

#img {
    height: 0vh;
    width: 70vw;
    top: 33vh;
    transition: 2.5s;
}


.text {
    display: none;
    position: relative;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 164.68%;
    /* or 33px */
    text-align: center;
    margin: auto;
    color: #FFFFFF;
    transition: 2.5s;
    top: 20px;
}

.bottom {
    
    width: 30vw;
    height: 10vh;
    background: #01D1C2;
    backdrop-filter: blur(7px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 24px;
    padding: 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */
    text-align: center;
    margin: auto;
    margin-top: 4vh;
    color: #003834;

    display: flex;
    align-items: center;
    justify-content: space-around;
    display: none;
    position: relative;
    transition: 2.5s;
    top: 60px;
}

.button {
    display: none;
    box-sizing: border-box;
    width: 17vw;
    height: 6vh;
    margin-top: -20px;
    margin-left: 60vw;

    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(13.5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 16px;
    z-index: 1200;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 33px;
 
    color: #FFFFFF;
    padding: 1vw;
    text-align: center;
    position: relative;
    transition: 5s;
    opacity: 0;
    
}

#last {
    display: none;
    margin: 1vw;
    margin-top: 30vh;
    transition: 3s;

}